{% extends 'main.html' %}
{% block login %}
<br></br>
<br></br>
<br></br>
<div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
<div class="contact_form-container">
<form method="post" align='right'>
  {% csrf_token %}
  <h2>Вхід</h2>
  <div>
    Логін: {{ form.username }}
  </div>
  <div>
    Пароль: <input type="password" id="id_password" name="password">
    <p><input type="checkbox" onclick="ShowPass()"> Показати пароль</p>
  </div>
  <button type="submit" value="Submit">Увійти</button>&nbsp;&nbsp;&nbsp;<a class="nav-item" href="{% url "posy:signup" %}"> Новий </a>
</form>
</div>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
{% endblock login %}