<!DOCTYPE html>
<html>
<section class="client_section layout_padding-bottom">
    <div class="container ">
      <div class="heading_container">
        <h2>
          Відгуки
        </h2>
        <hr>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for feed in feedbacks %}
          <div class="carousel-item {% if forloop.first %}active{%endif%}">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src="/static/images/client-img.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{feed.full_name}}
                </h5>
                <p>
                  <img src="/static/images/left-quote.png" alt="">
                  <span>
                    {{feed.message|slice:":5"}}
                  </span>
                  <img src="/static/images/right-quote.png" alt=""> <br>
                  {{feed.message}}
                </p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
            {% endfor %}
          </div>
        </div>
      </div>
      
    </div>
      </div>
    </div>
  </section>
</html>