<!DOCTYPE html>
<html>
<section class="info_section layout_padding">
    <div id="footer" class="container">
      <div class="info_logo">
        <h2>
          Posy Shop
        </h2>
      </div>
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
            <a href="https://goo.gl/maps/qVS1nFsPtc6P7JXA8">
              <img src="/static/images/location.png" alt="">
              <span>
                Як мене знайти
              </span>
            </a>
          </div>
          <div class="col-md-4">
              <img src="/static/images/call.png" alt="">
              <span>
                Телефон: +38-050-193-59-09
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <div class="info_social">
              <div>
                <a href="https://www.facebook.com/v.emomova">
                  <img src="/static/images/facebook-logo-button.png" alt="">
                </a>
            </div>
            <div>
              <a href="https://instagram.com/viktoriiaemomova">
                <img src="/static/images/instagram.png" alt="">
              </a>
            </div>
              <img src="/static/images/mail.png" alt="">
              <span>
                v.emomova@ukr.net
              </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>