<!DOCTYPE html>
<html>
<div class="hero_area">
<!-- header section strats -->
<div class="brand_box">
    <a class="navbar-brand">
      <span>
        POSY SHOP
      </span>
    </a>
  </div>
  <!-- end header section -->

  <!-- slider section strats -->
  <section class=" slider_section position-relative">
    <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="img-box">
            <img src="/static/images/slider-img.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img-box">
            <img src="/static/images/slider-img.jpg" alt="">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img-box">
            <img src="/static/images/slider-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>
</html>