<!DOCTYPE html>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Posy Shop</title>

 <!-- fonts style -->
 <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
 <!-- Custom styles for this template -->

 <!-- slider stylesheet -->
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

{% load static %}
<Link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
<Link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
<Link rel="stylesheet" href="{% static '/css/responsive.css' %}">
<Link rel="stylesheet" href="{% static '/css/style.css' %}">
<Link rel="stylesheet" href="{% static '/css/style.scss' %}">
<Link rel="stylesheet" href="{% static '/css/style.css.map' %}">
<script src="{% static '/js/bootstrap.js' %}"></script>
<script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static '/js/custom.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|fire|outline|emboss|shadow-multiple">

{% include 'header.html'%}
{% include 'nav.html'%}
{% block "content" %}{% endblock "content" %}
{% include 'info.html'%}
{% include 'footer.html'%}