<!DOCTYPE html>
<html>
  <section class="nav_section">
    <div class="container">
      <div class="custom_nav2">
        <nav class="navbar navbar-expand custom_nav-container ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex  flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url "home" %}">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "shop" %}"> Shop </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Recomendations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Contact me</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url "list-cartitem" %}">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Hi, {{ user.username }}!</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "logout" %}" action='signout'>Log out</a>
                </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "login" %}">Cart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "login" %}">Login</a>
                  </li>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>
  </html>