<!DOCTYPE html>
<html>
<section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          Готові пропозиції
        </h2>
      </div>
    </div>
    <div class="container-fluid">

      <div class="fruit_container">
        {% for product in products %}
        <div class="box">
          <img src="{{product.image.url}}" alt="">
          <div class="link_box">
            <h5>
              {{product.title}} - <strong>{{product.price}}</strong>
            </h5>
            <a href="{% url "store:store" %}">
              В магазин
            </a>
          </div>
        </div>
        {% endfor %}
    </div>
  </section>
  </html>