<!DOCTYPE html>
<html>
<section class="shop_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="detail-box">
          <h2>
            Posy shop в Полтаві
          </h2>
          <p>
            Мене звати Вікторія, робити цікаві букети - моя пристрасть. Я знаходжу натхнення у будь-яких речах навколо, що грають барвами. Якщо ви не знайшли те, що шукаєте, зв'яжіться зі мною, і ми створимо ваш індивідуальний букет!
          </p>
        </div>
        <div class="img-box">
          <img src="/static/images/shop-img.jpg" alt="">
        </div>
        <div class="btn-box">
          <a href="{%url "store:create_composition"%}">
            Створити свою композицію
          </a>
        </div>
        <br></br>
      <div class="col-md-8 col-lg-9">
        <div class="info_form">
          <form action=""  method="POST">
            {%csrf_token%}
            <input method="POST" type="text" placeholder="Залиште свій телефон" value="{{form}}" name="phone_number" required id="id_phone_number">
            <input class="btn-box" type="submit" value="Передзвоніть мені">
          </form>
        </div>
      </div>
    </div>
      </div>
    </div>
  </section>
</html>