<!DOCTYPE html>
<html>
<section class="shop_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="detail-box">
          <h2>
            Posy shop
          </h2>
          <p>
            My name is Victoria and making beautifull compositions is my passion. If you don't find somesing special you are searching for - don't worry, just contact me and we create the composition of dream together!
          </p>
        </div>
        <div class="img-box">
          <img src="/static/images/shop-img.jpg" alt="">
        </div>
        <div class="btn-box">
          <a href="">
            Put together your composition
          </a>
        </div>
      </div>
    </div>
  </section>
</html>