<!DOCTYPE html>
<html>
<section class="contact_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h2>
              Feedback
            </h2>
          </div>
        </div>
      </div>

      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
            <form action="leave_feedback/" method="post">
              {% csrf_token %}
              <div class="contact_form-container">
                <div>
                  <div>
                    <input type="text" placeholder="Full Name" name="full_name" required/>
                  </div>
                  <div>
                    <input type="email" placeholder="Email" name="sender" id="id_sender" required/>
                  </div>
                  <div>
                    <input type="text" placeholder="Phone Number" name="phone" id="id_phone"/>
                  </div>
                  <div>
                    <input type="text" class="message_input" placeholder="Message" textarea name="message" id="id_message" required/>
                  </div>
                  <div>
                    <button type="submit" value="Submit">
                      Send
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 px-0">
            <div class="map_container">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:EkFPbGVrc2FuZHJhIEJpZG5vaG8gU3QsIFBvbHRhdmEsIFBvbHRhdnMna2Egb2JsYXN0LCBVa3JhaW5lLCAzNjAwMCIuKiwKFAoSCVUtOHWCL9hAEQnIJ3hbADvNEhQKEglruuYl5CXYQBGCyuS532s-zw&key=AIzaSyBmvu8JwrG0LRyYqiy1j-NKdvReRarfYFc" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>