<!DOCTYPE html>
<html>
<section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="/static/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <hr>
              <h2>
                Композиції з квітів, фруктів, цукерок те не тільки
              </h2>
            </div>
            <p>
              Якщо ви хочете подарувати оригінальний букет з цукерок в Полтаві, квітів, овочів або навіть сирів - я із задоволенням виконаю ваше замовлення. 
              В магазині ви зможете знайти приклади букетів та приблизну вартість, яка в першу чергу залежить від сезону: взимку важко знайти полуницю, але попит на новорічні композиції з хвої та шишок стрімко зростає.
              Якщо вам сподобалась якась з представлених композицій - ви можете зробити замовлення на сайті, після чого ми обговоримо деталі. Якщо ви не знайшли те, що шукаєте - перейдіть за посиланням вище
              та залиште заявку на створення індивідуальної композиції. Ви можете обрати бажані інгрідієнти, кольорову гаму та зазначити всі ваші вимоги до майбутнього букету! 
            </p>
            <a href="{% url 'store:store'%}">
              Обрати готовий букет
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>