{% extends 'main.html' %}
{% block "content" %}
<!DOCTYPE html>
<html>
<section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          Готові пропозиції
        </h2>
      </div>
    </div>
    {%for cat in categpries%}
    {{cat}}
    {%endfor%}
    <div class="container-fluid">
      <div class="fruit_container">
        {% for item in goods %}
        <div class="box">
          <img src="{{item.image.url}}" alt="">
          <div class="link_box">
            <h5>
              {{item.title}} - <strong>{{item.price}}</strong>
            </h5>
            <a href="{{ item.get_absolute_url }}">
              Детальніше
            </a>
            <br></br>
            <a href="{{ item.get_add_to_cart_url }}">
              Замовити
            </a>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
          <p>
            <span class="current">
                Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}
            </span>
          </p>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Перша</a>
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; Попередня</a>
            {% endif %}
            <p>
              {% for page in page_obj.paginator%}
              <a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
              {% endfor %}
            </p>  
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Наступна &raquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Остання &raquo;</a>
            {% endif %}
        </span>
    </div>
  </section>
  </html>
{% endblock "content" %}